*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{

    background: #e7ffec;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 700px;
    background: white;
    display: grid;
    margin: 30px auto 0;
    grid-template-columns: 1fr 2fr;
}

.container .left{
    position: relative;
    background-color: #0c0357;
    padding: 35px;

}
.profile_text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid greenyellow;
}
.profile_text .imgBox{
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
}
.imgBox img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.profile_text h2{
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 20px;
    text-align: center;
}
.profile_text h2 span{
    color: crimson;
    font-size: 0.8em;
}
.contact, .education, .lang{
    padding-top: 20px;
    border-bottom: 2px solid greenyellow;
}
.title{
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    word-spacing: 5px;
    margin-bottom:12px ;
    text-align: center;
    font-weight: bold;
}
 ul{
    position: relative;
}
ul li{

    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.lang_name, .lang_rating{
    display: inline-block;
    vertical-align: top;
    height: 120px;
}
.note{
    color: #709cff;
    font-size: 1.2em;
}
.icon{
     position: relative;
     top: 5px;
     left: 0;
     object-fit: cover;
     color: blue;
 }
.lang_name{
    font-size: 16px;
}
.star{
    position: relative;
    color: yellow;
    font-size: 0.5em;
}
.container .right{
    position: relative;
    background-color: #e4e8e6;
    padding: 40px;

}
.about{
    margin-bottom: 20px;
    padding-top: 20px;
    border-bottom: 2px solid #0c0357;

}
.right_note{
    display: inline-block;
    background-color: #0c0357;
    border-radius: 0 50px 50px 0;
    font-size: 1.5em;
    padding: 10px 60px 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #c4e8d8;
    margin-bottom: 15px;
    width: 50%;
    min-width: 30%;
    border: 3px solid black;
}
.content,.hobby{
    font-weight: bold;
    font-size: 1.2em;
    color: #464646;
}

#slow_nav > ul{
    width: 100px;
    margin:-70px 0 30px 180px;

}

#slow_nav > ul > li{
    list-style: none;
    display: inline-block;
    position:relative;
    padding:0;
}

#slow_nav > ul > li > p{
    font-size:18px;
    font-weight: bold;
   width: 110%;
    padding:5px;
    background-color:yellow;
    color:black;
    border-radius: 50px 50px 50px 50px;
}

#slow_nav li ul{

    position:absolute;
    list-style:none;
    text-align:center;
    top:15px;
    font-size:15px;
    left:0;
    margin:0;
    padding:0;
    max-height:0px;
    overflow:hidden;
    -webkit-transition:max-height 0.4s linear;
    -moz-transition:max-height 0.4s linear;
    transition:max-height 0.4s linear;

}

#slow_nav li:hover ul{
    max-height:300px;
}

#slow_nav li ul li{
    background-color:darkorange;
    border-radius: 50px 50px 50px 50px;
    border-bottom:1px solid #888;
}

#slow_nav li ul li:last-child{
    border-bottom:none;
}

#slow_nav li ul li p{
    padding:5px 12px;
    color:black;
    display:block;
}

#slow_nav li ul li:hover{
    background-color:yellow;
    border-radius: 50px 50px 50px 50px;
}

#slow_nav li ul li:first-child{
    margin-top:25px;
    position:relative;
}

#slow_nav li ul li:first-child:before{
    content:'';
    position:absolute;
    width:1px;
    height:1px;
    border:5px solid transparent;
    border-bottom-color:red;
    left:10px;
    top:-10px;
}
.change_notice1{
    display: block;
    min-height: 250px;
    overflow: auto;

}
.change_notice1 p{
    text-align: center;
    font-size: 2.5em;
    color: #753820;
    font-weight: bold;
}
.change_notice1 span{

    margin-top: 20px;
    margin-left: 30px;
    display: inline-block;
    font-size: 2em;
    word-spacing: 50px;
    color: #333333;
    font-weight: bold;
    border-bottom: 5px solid chocolate;
}
.change_notice2,.change_notice3{
    display: none;
    height: 250px;
    overflow: auto;
}
.change_notice2{
    font-size: 2em;
    color: #464646;
    font-weight: bold;
}
.hobby{
    min-height: 145px;
    text-transform: uppercase;
    text-decoration: none;
    word-spacing: 30px;
}
.hobby_icon{
    position: relative;
    top: 5px;
    left: 20px;
    object-fit: cover;
    color: chocolate;
    font-size: 1.9em;
    margin-left: auto;
}
footer{
    background: url("git.jpg") 3%/60px no-repeat,
    url("rss.jpg") 96%/120px no-repeat;
    display: inline-block;
    padding: 15px;
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 60px;
    background-color: #fa740e;
    margin: 0 auto 30px;
}
footer a{
    margin-left: 8%;
    font-weight: bold;
    font-size: 1.5em;
    color: #0c0357;
}
footer span{

    margin-left: 35%;
    font-weight: bold;
    font-size: 1.5em;
}
